.contactContainer {
    border-top: 6px solid #ED1A21;
    font-family: 'montserrat';
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
    // background: linear-gradient(0deg, #380165, rgb(37, 18, 32));
    background: url('/layered-waves-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2, p {
        color: #0c0c0c;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    p {
        margin: .5rem 0;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        transition: ease 0.5s all;
        input, select, textarea {
            background-color: #141414;
            width: 65%;
            margin: .25rem auto;
            transition: all .2s ease;
            border-radius: 2px;
            box-shadow: 0px 1px 5px #1e1e1e;
            padding: .5rem;
   
        }

        input, select {
            height: 35px;


        }

        textarea {
            height: 150px;
        }



        input, select, textarea {
            outline: none;
            &:focus {
                background-color: #1f1f1f;
                outline: 3px solid #fc0000;
                box-shadow: 0px 0px 14px #000000;
            }
        }

        select {

        }

        .interfaceSpacer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .5s;
            .recaptcha {
                
                transform:scale(0.75);

            }

            button {
                margin-top: 2rem;
                margin-bottom: 1rem;
                padding: .5rem 2rem;
                border-radius: 2px;
                background-color: #202020;
                transition: all .5 ease;
                &:hover {
                    background-color: #d9d9d9;
                    color: #ED1A21;
                }




            }


        }
    }
}

