.aboutContainer {
    background-color: #1E0136;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    border-top: 2px solid #FF52CB;
    border-bottom: 2px solid #FF52CB;
    .image {
        width: 80%;
        height: 100px;
        background-color: aliceblue;
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
            font-size: .55rem;
            width: 80%;
            margin-top: 1rem;
        }

        .aboutBtn {
            margin-top: 1rem;
            margin-bottom: 2rem;
            background-color: aliceblue;
        }
    }
}