.navigationComponent {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 5px 3px #000000;
    .navContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 45px;
    
        .logo {
            margin-left: 2rem;
            font-size: 1.5rem;
            background: linear-gradient(90deg, rgb(255, 84, 107), rgb(255, 82, 203), rgb(138, 53, 188));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    
        .burger, .fullMenu {
            margin-right: 2rem;
        }
    
        .fullMenu {
            color: #FF52CB;

            a {
                margin: 1rem;
                transition: all 0.2s ease;
                &:hover {
                    color:#fd9de1;
                    filter: drop-shadow(0px 0px 15px #ff06b4);
                    cursor: pointer;
                }
            }
        }
    
        .burgerContainer {
            margin: 1rem 1rem;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all .2s ease;
            .burger {
                width: 20px;
                height: 2px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all 0.5s ease;
                margin: 0;
                z-index: 170000;
                will-change: auto;
                backface-visibility: hidden;
                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all 0.5s ease;
                }
                    
                &::before {
                    transform: translateY(-10px);
                }
        
                &::after {
                    transform: translateY(10px);
                }
        
    
            }
        }
    

    
    }
    .navContainer .burgerContainer.open .burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
        will-change: transform;
        &::before {
            transform: rotate(45deg) translate(35px, -35px);
            background-color: #FF52CB;
        }
    
        &::after {
            transform: rotate(-45deg) translate(35px, 35px);
            background-color: #FF52CB;
        }          
    }
    .sidemenu {
        z-index: 100000;
        display: flex;
        position: fixed;
        background-color: #333333;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        will-change: transform, display;
        color:#ff53cb;
        transition: all 0.2s ease;
        transform: translateX(100%);
        a {
            margin: 2rem;

            &:hover {
                color: blue;

            }
        }
    
        button {
            position: absolute;
            top: 0;
            right:0;
            margin: 1rem;

            &::before, &::after {
                content: '';
                position: absolute;
    
                right: 5%;
                width: 20px;
                height: 3px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all 0.5s ease;
            }
    
            &::before {
                transform: rotate(45deg);
    
            }
    
            &::after {
                transform: rotate(-45deg);
    
            }
        }
    }
    
    .sidemenu.display {

        transform: translateX(0px);
    }
    
}



@media screen and (min-width: 501px) {

    .burgerContainer {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .fullMenu {
        display: none;
    }

    .burgerContainer {
        display: flex;
    }
}

