.ServiceWrapper {
    .ServiceSectionContainer {
        background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(29, 12, 12, 0.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(24, 6, 6, 0.897) 15%, transparent 20%) 8px 9px;
        background-color:#111010;
        background-size:16px 16px;


        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        padding-top: 5rem;
        h2 {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 1.75rem;
            margin: 1rem 0;
        }
    
        p {
            font-family: 'Montserrat';
            width: 90%;
            max-width: 1000px;
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            font-size: 1rem;
        }
    
        button {
            background-color: #910c10;
            color: #dbdbdb;
            font-family: 'Montserrat';
            font-weight: 600;
            letter-spacing: -1.5px;
            padding: .5rem;
            border-radius: 2px;
            margin: 1rem;
            transition: all 0.2s ease;
            &:hover {
                background-color: #ee1119;
            }
        }
    
    
    }
    
    
    .ServiceCTAContainer {
        background-color: #1e1e1e;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;

        .ServiceCTA {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            max-width: 600px;
            p {
                width: 80%;

                font-size: .75rem;
                text-align: center;
                width: 50%;
            }
            
            .ctaBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                background-color: #d9d9d9;
                width: 100px;
                border-radius: 0;
                color: #1e1e1e;
                letter-spacing: 0px;
                transition: all .2s ease;
                &:hover {
                    background-color: #ee1119;
                    color: #d9d9d9;
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {


    .ServiceWrapper {
        .ServiceSectionContainer {


            h2 {

            }

            p {

            }

            button {
                padding: .85rem;
            }


            .ServiceGallery {
                padding: 2rem 0;
            }
    


        }

        .ServiceCTAContainer {
            
            .ServiceCTA {

                p {
                    font-size: 1rem;
                    width: 70%;
                }

                .ctaBtn {

                }
            }
        }
    
    }




}

@media screen and (min-width: 650px) {
    .ServiceWrapper {
        .ServiceSectionContainer {
            h2 {
                font-size: 2.5rem;
            }

            p { 
                font-size: 1.35rem;
            }

            .ServiceGallery {
            }
        }

        .ServiceCTAContainer {
            .ServiceCTA {
                p {

                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    .ServiceWrapper {
        .ServiceSectionContainer {
            h2 {
                
            }

            .ServiceGallery {
                .GalleryRowOne, .GalleryRowTwo {
                    display: flex;
                }
            }
        }

        .ServiceCTAContainer {
            .ServiceCTA {
                p {

                }
            }
        }
    }
}