.UpBtnContainer {
    position: fixed;
    color: #0c0c0c;
    height: 35px;
    width: 35px;
    right: 20px;
    bottom: 15px;
    border-radius: 2px;
    background-color: #bb161e;
    z-index: 200000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
    will-change: background-color, color;
    box-shadow: 0 0 4px 4px #0c0c0c6e;
    &:hover {
        background-color: #ED1A21;
        color:#d6d6d6;
        cursor: pointer;
    }
}


@media screen and (min-width: 800px) {
    .UpBtnContainer {
        height: 55px;
        width: 55px;
        font-size: 2rem;
    }
}