.TutorialSectionContainer {

    .TutorialSectionContent {
        background-color: #FF52CB;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .RecentVideosContainer {
            background-color: #222121;
            height: 35%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            .VidCard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .ThumbNail {
                    background-color: #dedede;
                    height: 70px;
                    width: 70px;
                    border-radius: 2px;
                }
                h4 {
                    font-weight: 700;
                }
                p {
                    width:  50%;
                    margin: 0 auto;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    display: none;
                    font-size: 0.85rem;
                }
            }
            .NextArrow, .PrevArrow {
                color: #9715FF;
                transition: all 0.2s ease;
                font-size: 2rem;
                opacity: 0;
                &:hover {
                    color: #FF52CB;
                    filter: drop-shadow( 0px 0px 7px #c77bb0);
                }
            }
        }
        .NextArrow {
            position: absolute;
            top: 50%;
            right: 0;
            transform:translateY(-50%);
            z-index: 10;
            cursor: pointer;
        }
        .PrevArrow {
            position: absolute;
            top:50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
        }
        button {
            background-color: #dedede;
            color: #c73c9d;
            transform: translateY(-10px);
            z-index: 10000;
            height: 35px;
            width: 175px;
        }
    }
    .AffiliatesBar {
        background-color: #222121;
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;

        .Thanks {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #dedede;
            padding: 1rem;
            width: 80%;
            height: 80px;
            color:#222121;
            border-radius: 2px;
            font-size: .95rem;

            z-index: 15000;
            transform: translateY(-30px);
            h4 {
                width: 100%;
                margin: 0 auto;
            }
            .PinkText {
                color:#FF52CB;

            }


        }
    }
}

@media screen and (min-width: 500px) {

    .VidCard {
        p {
            display: -webkit-box !important;
        }
    }

    .NextArrow, .PrevArrow {
        opacity: 1 !important;

    }
}