@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;300;400&display=swap');
.ServicesPageContainer {
    font-family: 'Montserrat';
    height: 100vh;
    background: linear-gradient(-180deg, rgb(12, 12, 12), rgb(37, 18, 18));;
    display: flex;
    padding: 5rem 0;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        transform: scaleY(125%);
        margin: 1rem 0;
    }



    .InterfaceContainer {
        margin-top: 1rem;
        display: flex;

        .InterfaceRow {
            justify-content: space-between;



            .InterfaceBtn {
                text-align: center;
                margin: .5rem .65rem;
                letter-spacing: .1px;
                text-transform: uppercase;
                border: 1px solid #a50f14;
                padding: .25rem;
                font-size: .65rem;
                white-space: nowrap;
                transition: 0.2s all ease;
                &:hover {
                    background-color: #a50f14;
                    border: 1.5px solid #d9d9d9;
                    cursor: pointer;
                }
            
            }



        }
    }



}

