
.DisplayContainer {
    margin: 1rem 0;
    height: 50vh;
    width: 90%;
    border-radius: 2px;
    background-color:#1E1E1E;
    position: absolute;
    display: flex;
    transform: translateY(250px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all .2s ease;
    .DisplayColumn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .DisplayTitle {
            font-size: 1.15rem;
            margin-bottom: 0rem;
            text-transform: uppercase;
        }

        .Description {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;
            margin: 1rem auto;
            display: -webkit-box ;
        }

        button {

            background-color: #FF52CB;
            margin: 0 1rem;
            font-size: .85rem;
            padding: .25rem;
            border-radius: 2px;
            color:#1E1E1E;

        }

        .img {
            margin: 1.5rem 0;
        }
    }
}

.activeCard {
    color: blue;
}