.SwiperContainer {
   height: 25vh;
    .SwiperSlide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .SlidePfp {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #d3d3d3;
            transform: translateY(25px);
            box-shadow: 0 2px 3px #010101;
        }

        .SlideContent {
            height: 150px;
            width: 250px;
            background-color: #9715FF;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }

    .NextArrow, .PrevArrow {
        color: #9715FF;
        transition: all 0.2s ease;
        font-size: 2rem;

        &:hover {
            color: #FF52CB;
            filter: drop-shadow( 0px 0px 7px #c77bb0);
        }
    }

    .NextArrow {
        position: absolute;
        top: 50%;
        right: 0;
        transform:translateY(-50%);
        z-index: 10;
        cursor: pointer;
    }

    .PrevArrow {
        position: absolute;
        top:50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
    }

}


@media screen and (max-width: 500px) {
    .NextArrow, .PrevArrow {
        display: none;
        
    }
}